html {
  --surfaceFg: white;
  --surfaceBg: #ff6b6b;
  --secondaryFg: #4ECDC4;
  --specialFont: 'Smooch Sans';
  --sansFont: 'Noto Sans Display';
  --serifFont: 'Noto Serif Display';
  --bgColor: white;
}

body {
  font-family: var(--sansFont), sans-serif;
  font-size: 20px;
  background-color: var(--bgColor);
}

a, a:visited {
  color: deeppink;
  text-decoration-thickness: -0.5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--serifFont), serif;
  color: deeppink;
}

code, pre {
  font-family: var(--specialFont), sans-serif;
}

code {
  white-space: pre-wrap;
  font-size: 20px;
}

pre {
  background: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05));
  padding: 10px;
}

pre code {
  color: inherit;
}

blockquote {
  border-left: 5px solid lightskyblue;
  padding-left: 10px;
  margin-left: 20px;
  font-family: var(--specialFont), serif;
  font-size: 30px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.buttons {
  margin-bottom: 1em;
}
.buttons a {
  text-decoration: none;
  color: yellowgreen;
}

.navigation {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: deeppink!important;
}
.navigation.right {
  flex-direction: row-reverse;
}

.middle-align {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}

.middle-align img {
  margin-right: 5px;
}

